<div class = 'SportHeader'>
<h1>Sports Blog Rants: List of all Blogs </h1>
</div>


<% @blogs.each do |b| %><br /><hr>
	<div class = "bposttitle"><a href = "/blogs/<%= b.id %>">Blog Post:</a> |
			Title: <%= b.title %> |
			Sport: <%= b.sport %><br />
			</div>
			<div class = "bcontent">Content: <%= b.content %></div>
			<br />
	
			<% b.comments.each_with_index do |c, index| %><br />
				 <div class ='comment-list' ><%= index + 1 %>. Comment:<br /><br />
					  <%= c.content %><br />
		
				</div>
			<% end %>
	
<% end %>

</div>