<h1>Blog Profile</h1>


<div>
	<div><%= @blog.title %></div>
	<div><%= @blog.content %></div>
	<div><%= @blog.sport %></div>
</div>
<hr>

<ul>
<% @blog.comments do |c| %>
	<li><%= c.content %></li>
<% end %>
</ul>

<!-- update comments -->
<ul>
<% @blog.comments.each do |comment| %>
  <li><%= comment.body %></li>  
  <%= link_to "Edit", edit_blog_comment_path(:blog_id => @blog.id, :id => comment.id) %>
<% end %>
</ul>

<!-- end update comments  -->

<%= render 'comments/form' %>

<%= link_to "Edit Blog", edit_blog_path %>
<br>
<%= link_to "Delete Blog", blog_path, method: :delete %>
<br>
<%= link_to "Create Blog", new_blog_path %>


















