<h1>User Profile Page</h1>

<div>
	<div><%= @blog.title %></div>
	<div><%= @blog.content %></div>
	<div><%= @blog.sport %></div>
	<!-- <div><%= @comment.blog_id %></div> -->
</div>
<hr>
<%= link_to "Edit Blog", edit_blog_path %>
<br>
<%= link_to "Delete Blog", blog_path, method: :delete %>
<br>
<%= link_to "Create Blog", new_blog_path %>