<!DOCTYPE html>
<html>
  <head>
    <title>Blogproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">

  </head>
  <body>
        <nav>
          <a href='/'>Home</a> |

          <% if !signed_in? %>
          <a href='/users/sign_up'>Sign up</a> |
          <a href='/users/sign_in'>Log In</a> |
          <% end %>

          <% if signed_in? %>
          <%= link_to "New Post", new_blog_path %> |
          <%= link_to "Edit Account",  edit_user_registration_path %> |
          <%= link_to "Sign out",destroy_user_session_path, method: :delete %><br /><br /> 
          <div id = "clock"></div> 

        </nav>

        <% end %>
        
        <div class = "currentuser">Current User: 
            <div id = "useremail"><a href='/profile/<%=current_user.id %>'<%= current_user.id %>'><%= current_user.email %></a></div>
        
        </div><br />
        
          

          
        

  <%= javascript_include_tag "main" %> 
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
   <div class="content"><%= yield %></div>
  </body>
</html>










































